<div class="container py-3">
	<div class="card my-5">
		<div class="card-body">
			<a href="https://dav-apps.tech"
				class="navbar-brand ml-3"
				style="color: black; font-size: 35px; font-weight: bold; font-family: 'MV Boli', Kalam">
				dav
			</a>
			<h2 class="text-center mt-3 mb-3">Welcome to dav, <%= @user.first_name %></h2>
			<h5 class="card-text text-muted text-center">Click the button below to confirm your email address.</h5>
			<%= link_to "Confirm", @link, class: "btn btn-primary ax-center mt-4", target: "blank" %>
		</div>
	</div>
</div>